<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <div class="footer-brand">
        <img src="assets/Logo.svg" alt="Logo" class="logo-image2" />
        <h4>DudaTours</h4>
      </div>
      <p>Your next go-to companion <br> for travel</p>
    </div>
    <div class="footer-section">
      <h4>Company</h4>
      <ul>
        <li>About</li>
        <li>Jobs</li>
        <li>Newsroom</li>
        <li>Advertising</li>
        <li>Contact us</li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Explore</h4>
      <ul>
        <li>Australia</li>
        <li>New Zealand</li>
        <li>United States America (USA)</li>
        <li>Greece</li>
        <li>Maldives</li>
        <li>Singapore</li>
        <li><a href="#">See more</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Terms and Policies</h4>
      <ul>
        <li>Privacy Policy</li>
        <li>Terms of use</li>
        <li>Accessibility</li>
        <li>Reward system policy</li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Help</h4>
      <ul>
        <li>Support</li>
        <li>Cancel your bookings</li>
        <li>Use Coupon</li>
        <li>Refund Policies</li>
        <li>International Travel Documents</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; DudaTours 2024</p>
  </div>
</footer>
