<div class="header-main">
  <header class="header">
    <div class="logo-container">
      <img src="assets/Logo.svg" alt="Logo" class="logo-image" />
      <span class="logo-text">DudaTours</span>
    </div>
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/discover">Discover</a></li>
        <li><a href="#">Activities</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="auth-buttons" *ngIf="!currentUser; else loggedIn">
      <a href="/register" class="register-btn">Register</a>
      <a href="/signin" class="signin-btn">Sign In</a>
    </div>

    <ng-template #loggedIn>
      <div class="user-menu">
        <img
          [src]="currentUser?.profileImage"
          alt="Profile Image"
          class="profile-img"
        />
        <button (click)="logout()" class="log-out">Logout</button>
      </div>
    </ng-template>
  </header>
</div>
