<app-header></app-header>
<div class="main-check-mom">
  <div class="covid">
    <div class="covid-alert">
      <p class="covid-text">
        <i class="fas fa-exclamation-triangle warning-icon"></i>
        Check the latest COVID-19 restrictions before you travel.
        <span>Learn more</span>
      </p>
    </div>
  </div>
  <div class="main-check">
    <div class="pay-options">
      <div class="users-data">
        <div class="room-header">
          <i class="fas fa-bed icon"></i>
          <h2>Room 1</h2>
          <p>
            {{ reservedHotel?.people?.adults || 0 }} adults,
            {{ reservedHotel?.people?.children || 0 }} children - No Smoking
          </p>
        </div>
        <form class="room-form">
          <div class="form-group">
            <div class="form-field">
              <label for="firstName">First name</label>
              <input type="text" id="firstName" class="form-control" />
            </div>
            <div class="form-field">
              <label for="lastName">Last name</label>
              <input type="text" id="lastName" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label for="mobileNumber">Mobile number</label>
            <div class="mobile-number-field">
              <div class="country-code">
                <span>+995</span>
              </div>
              <input type="tel" id="mobileNumber" class="form-control" />
            </div>
          </div>
          <div class="form-check">
            <input type="checkbox" id="textAlerts" />
            <label for="textAlerts">Receive text alerts about this trip.</label>
          </div>
        </form>
      </div>

      <div class="card-details"></div>
    </div>
    <div class="hotel-options">
      <div class="reserved-hotel">
        <!-- If Hotel is Reserved -->
        <div *ngIf="reservedHotel" class="checkout-container">
          <img
            [src]="reservedHotel.images[0]"
            alt="{{ reservedHotel.title }}"
            class="hotel-image"
          />
          <h2>{{ reservedHotel.title }}</h2>
          <p class="rating">
            <span>
              <i
                *ngFor="let star of createStarArray(reservedHotel.rating)"
                class="fa fa-star star"
              ></i>
            </span>
            <span>{{ reservedHotel.rating }}</span> ({{ reservedHotel.reviews }}
            Reviews)
          </p>
          <p class="non">Non refundable</p>
          <div class="availability-dates">
            <ul>
              <li *ngFor="let range of reservedHotel.availability">
                Check in: {{ range.start }} <br />
                Check out: {{ range.end }}
              </li>
            </ul>
          </div>
        </div>

        <!-- If No Hotel is Reserved -->
        <div *ngIf="!reservedHotel">
          <p>
            No reservation details available. Please go back and select a hotel.
          </p>
        </div>
      </div>
      <div class="price-details-res">
        <div class="price-header">
          <h3>Price Details</h3>
        </div>
        <div class="price-container price-content">
          <div class="price-item">
            <p>1 room X 2 nights</p>
            <p>$120.32</p>
          </div>
          <div class="price-item">
            <p>Tax and service fees</p>
            <p>$8.32</p>
          </div>
          <hr />
          <div class="price-total">
            <h4>Total</h4>
            <h4>$130</h4>
          </div>
          <p class="coupon-text">Use a coupon, credit or promotional code</p>
          <div class="coupon-container">
            <label for="coupon-code">Coupon code</label>
            <div class="coupon-input-container">
              <input type="text" id="coupon-code" class="coupon-input" />
              <button class="apply-coupon">Apply Coupon</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>